# Sheep
public net.minecraft.world.entity.animal.sheep.Sheep eatBlockGoal

public-f net.minecraft.world.entity.Mob getLootTable()Ljava/util/Optional;

# Custom render pipeline (ENERGY_SWIRL_PRESERVE_ALPHA)
public net.minecraft.client.renderer.RenderPipelines MATRICES_FOG_SNIPPET
public net.minecraft.client.renderer.rendertype.RenderType create(Ljava/lang/String;Lnet/minecraft/client/renderer/rendertype/RenderSetup;)Lnet/minecraft/client/renderer/rendertype/RenderType;
