# Sheep
public net.minecraft.world.entity.animal.sheep.Sheep f_380163_ # eatBlockGoal
public net.minecraft.world.entity.animal.sheep.Sheep eatBlockGoal

public-f net.minecraft.world.entity.Mob m_21517_()Ljava/util/Optional; # getLootTable
public-f net.minecraft.world.entity.Mob getLootTable()Ljava/util/Optional;
